style.
    .d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    .footer {
    background-color: var(--main-b-color);
    color: var(--primary-color);
    z-index: 10000;
    }
    .footer a {
    text-decoration: none;
    color: var(--primary-color);
    }
section
    footer.text-white.text-center(style='background-color: rgba(60, 115, 123, 255)')
        // Grid container
        .container.p-4
        // Grid row
        .row
            // Grid column
            .col-md-12.mb-4.mb-md-0
            h5.h3(style='font-size: 1.75rem')
                i.fa.fa-thin.fa-chevron-down
                |  About DentAL
            p#about-us
                | DentAL is a agency that offers dental tourism opportunities in
                | Albania also including tourist attractions for everyone who
                | wants to have a high-quality dental service, travel the most attractive destinations in Albania while
                | also saving a lot of money.
        .text-center.text-white.p-3(style='background-color: rgba(60, 115, 123, 0)')
        .text-white &copy; 2022 Copyright: DentAL