extends base

block content
    link(rel="stylesheet", href="detailed.css")
    //- link(rel="stylesheet", href="header.css")
    //- section.sticky-top
    //-     .navbar#main-nav
    //-         a(href='/home')
    //-             .logo
    //-                 img(src="logo.png", alt="")
    //-         .menu
    //-             ul
    //-                 li
    //-                     a(href='/clinics') Clinics
    //-                 li
    //-                     a(href='/trips') Trips
    //-                 li
    //-                     a(href='/offers') Offers
    //-                 li
    //-                     a(href='#about-us') About 
    //-                 li
    //-                     a(href='/home#contact') Contact  
    //-                 -if(user)
    //-                     nav.nav.nav--user
    //-                         //- -if(endpoint !== '/me')
    //-                         .signup
    //-                             a.logoutBtn LOGOUT
    //-                         a.nav__el(href='/me')
    //-                         -if(user.role === 'admin' && endpoint === '/me')
    //-                             i.fa.fa-cog(aria-hidden="true" style='color:black;width:16px;height:16px;')
    //-                         img.nav__user-img(src=`${user.photo}` alt=`Photo of ${user.name}`)
    //-                 -else if(endpoint !== '/login')       
    //-                     .signup
    //-                         a(href='/login') LOGIN
    //- .d-flex.justify-content-around.second-nav
    //-   div
    //-     h5
    //-       i.fa-solid.fa-location-pin(style='color: rgba(60, 115, 123, 255);')
    //-       |  Location
    //-     hr
    //-     h6 Tirana - Albania
    //-   div
    //-     h5
    //-       i.fa-solid.fa-phone(style='color: rgba(60, 115, 123, 255);')
    //-       |  Call us today!
    //-     hr
    //-     h6
    //-       | +355682118131
    //-   div
    //-     h5
    //-       i.fa-solid.fa-clock(style='color: rgba(60, 115, 123, 255);')
    //-       |  Availability
    //-     hr
    //-     h6 Mon-Sun: 8:00 - 20:00
    //-   div
    //-     h5
    //-       i.fa-solid.fa-calendar-days(style='color: rgba(60, 115, 123, 255);')
    //-       |  Book now
    //-     hr
    //-     h6 info.dentalapp@gmail.com

    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    .form-user-data
                        include _accountSettings
                .user-view__form-container
                    .form-user-password
                        include _changePassword
    script(type='module' src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js')
    //- script(src="logout.js")
    //- script(src="accountUpdate.js") 
