extends base

block content
  head
    title DentAL | Home
    link(rel='stylesheet' type='text/css' href='root.css')
  .banner.text-black.d-flex
    .banner-text.m-auto
      h1 We Create Beautiful Smiles
      br
      p
        | Find the best dental clinics in Tirana with high-quality implants and
        | amazing prices.
      br
      br
      a(href='#about-us') Learn More
  .container.d-flex.mx-5
    .card.mx-2.my-2.card-container(style='width: 18rem;background-color: none;border: none;')
      i.fa-light.fa-tooth.fa.mx-auto.d-block.mt-3(style='font-size: 80px; color: rgba(60, 115, 123, 255)')
      .card-body
        h2.h4.text-center(style='color: rgba(60, 115, 123, 255); font-weight: bold')
          | High-Quality Implants
        hr
        p.card-text.text-center(style='color: rgba(60, 115, 123, 255)')
          | The high standard of care for replacement of missing teeth. Designed
          | to fit perfectly as a natural tooth.
    .card.mx-2.my-2.card-container(style='width: 18rem;background-color: none;border: none;')
      i.fa-solid.fa-location-dot.fa.mx-auto.d-block.mt-3(style='font-size: 80px; color: rgba(60, 115, 123, 255)')
      .card-body
        h2.h4.text-center(style='color: rgba(60, 115, 123, 255); font-weight: bold')
          | Top 
          br
          |             destinations
        hr
        p.card-text.text-center(style='color: rgba(60, 115, 123, 255)')
          | Use our website to search and locate the top destinations to visit
          | during your vacations in Albania with the best prices.
    .card.mx-2.my-2.card-container(style='width: 18rem;background-color: none;border: none;')
      img.mx-auto.d-block.mt-3(src='advanced-tech.png' style='width: 80px; color: rgba(60, 115, 123, 255)')
      .card-body
        h2.h4.text-center(style='color: rgba(60, 115, 123, 255); font-weight: bold')
          | Advanced Technology
        hr
        p.card-text.text-center(style='color: rgba(60, 115, 123, 255)')
          | For painless, effective and long lasting treatment, choose one of
          | our clinics with advanced technology and AI to assist the doctor on
          | the best way.
    .card.mx-2.my-2.card-container(style='width: 18rem;background-color: none;border: none;')
      img.mx-auto.d-block.mt-3(src='personalised-offers.png' style='width: 80px; color: rgba(60, 115, 123, 255)')
      .card-body
        h2.h4.text-center(style='color: rgba(60, 115, 123, 255); font-weight: bold')
          | Personalised 
          br
          |             Offers
        hr
        p.card-text.text-center(style='color: rgba(60, 115, 123, 255)')
          | Combining trips and clinics on a special deal to make one-time offers only for you on
          | a discounted price in order to make your experience in Albania unforgettable.

  -if(!user)
    a(href='/login') Login to send email
  -else
    .form
      form#contact
        .inputs
          input.feedback-input.input#name(name='name' type='text' placeholder='Name' value=`${user.name}`)
          input.feedback-input.input#email(name='email' type='text' placeholder='Email' value=`${user.email}`)
          input.feedback-input.input#phone(name='phone' type='text' placeholder='Phone Number')
          select.feedback-input.input#purpose(name='purpose')
            option.feedback-input(value='collab') Join Our Website
            option.feedback-input(value='info') Asking for more info
        .textarea
          textarea.feedback-input#subject(name='text' placeholder='Subject')
        input.signup.submit#submitEmail(type='submit' value='SEND')
    script(type='module' src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js')
    //- script(src="contactEmail.js")
    
