<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Honeycomb Grid Layout In Pure CSS</title>
    <link rel="stylesheet" href="testcss.css" />
    <link rel="stylesheet" href="../css/cards.css" />
  </head>
  <body>
    <div class="card">
      <div class="top-section">
        <div class="honeycomb-container">
          <ul class="honeycomb">
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell">
              <img
                class="honeycomb-cell_image"
                src="../images/image2-test.png"
              />
            </li>
            <li class="honeycomb-cell honeycomb_placeholder"></li>
          </ul>
        </div>
        <div class="price">2023 (2023)</div>
      </div>
      <div class="square"></div>
      <div class="product-info">
        <div class="name"></div>
        <div class="dis">• 2023 km</div>
        <div class="dis">• 2023 dite</div>
        <a class="btn">Learn More</a>
      </div>
    </div>
  </body>
</html>
