<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
    <style>
      /* table,
      th,
      td {
        border: 1px solid black;
        text-align: center;
      }
      td {
        padding: 5px;
      }
      img {
        width: 200px;
        height: auto;
      } */
      table{  
            border-collapse: collapse;  
            width: 100%;   
        }  
    th,td{  
        border: 2px solid #778b7a;   
        padding: 15px;  
    }
    </style>
  </head>
  <body>
    <table style="width: 50%; border: 1px solid red">
      <tr>
        <td>
          <img
            src="../images/gledush.jpg"
            style="width: 300px; height: auto"
          />
        </td>
        <td><input type="radio" />M <input type="radio" />F</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.youtube.com"><button>Dergo</button></a>
        </td>
        <td style="align-items: center">E du</td>
      </tr>
    </table>
    <ol type="I">
      <p>ALDUSHI</p>
      <li>
        <ul>
          <li>Aldo</li>
          <a href="youtube"><li>Aldo</li></a>
          <li>Aldo</li>
        </ul>
      </li>
      <p>GLEDUSHI</p>
      <li>
        <ul>
          <li>Gledi</li>
          <li>
            ca gjona kot
            <ol type="a">
              <li>KOT</li>
              <li>KOT</li>
            </ol>
          </li>
          <a href="/kot"><li>Gledi</li></a>
        </ul>
      </li>
      <li>Gjo kot</li>
      <li>gjo kot prap</li>
    </ol>

    <table style="width: 50%; text-align: center;">
      <tr>
        <th>1 header</th>
        <th>1 header</th>
        <th>1 header</th>
      </tr>
      <tr>
        <td>1data</td>
        <td><img src=""></td>
        <td>1data</td>
      </tr>
      <tr>
        <td style="color: red; font-weight: bolder; font-size: 20px;">2 data</td>
        <td>2 data</td>
        <td>2 data</td>
      </tr>
      <tr>
        <td>3 data</td>
        <td>3 data</td>
        <td>3 data</td>
      </tr>
    </table>
  </body>
</html>
